---

---
<footer class="bg-[#460000] shadow flex items-center justify-between py-6 px-6 antialiased pl-10 pr-10">

  <p class="mb-4 text-sm text-white sm:mb-0">
      <a href="/impressum">Impressum</a> <br>
      <a href="/datenschutz">Datenschutzerklärung</a>
  </p>
  <p class="mb-4 text-center text-white sm:mb-0 text-sm">
      &copy; Copyright. All rights reserved.
  </p>
  <div class="flex justify-center items-center">
    <a href="/" class="flex items-center hover:opacity-80 transition">
  <img
    src="/images/hell.png" 
    alt="CineMap Logo"
    class="h-15 w-auto"
  />
</a>

</div>
</footer>