---
import Layout from '../Layouts/layout.astro';
---

<Layout>
	<h1> Kinogeschichte Trier </h1>

    <main class="prose mx-auto p-8 scroll-smooth">

    <!-- Inhaltsverzeichnis -->
    <nav class="text-center mb-8">
  <ol class="inline-block list-decimal list-inside text-left space-y-1 pl-5 pr-3 text-black p-2.5 bg-[#fbf5e9] rounded-lg shadow"  style="font-family: 'Crimson Text', serif;">
    <h2 class="text-xl font-semibold mb-2">Inhaltsverzeichnis</h2>
    <li>
      <a href="#anfange" class="no-underline hover:underline">Anfänge des Kinos in Trier</a>
    </li>
    <li>
      <a href="#wanderkinematographen" class="no-underline hover:underline">Wanderkinematographen</a>
    </li>
    <li>
      <a href="#filmpioniere" class="no-underline hover:underline">Trierer Filmpioniere: Familie Marzen</a>
    </li>
    <li>
      <a href="#lokalaufnahmen" class="no-underline hover:underline">Lokalaufnahmen</a>
    </li>
    <li>
      <a href="#lokalaufnahmenMarzen" class="no-underline hover:underline">Lokalaufnahmen der Familie Marzen</a>
    </li>
    <li>
      <a href="#ortsfeste-kinos" class="no-underline hover:underline">Vom Wanderkino zum ortsfesten Lichtspielhaus</a>
    </li>
    <li>
      <a href="#erster-weltkrieg" class="no-underline hover:underline">Das Kino während des Ersten Weltkriegs</a>
    </li>
    <li>
      <a href="#bis-heute" class="no-underline hover:underline">Das Trierer Kino bis in die Gegenwart</a>
    </li>
  </ol>
</nav>
<br><br>
    <!-- Abschnitte Fließtext  -->
    <h2 id="anfange" style="font-size: 32px;">Anfänge des Kinos in Trier</h2>
    <p> Die Geschichte des Kinos in Trier beginnt nicht erst mit festen Lichtspielhäusern, sondern bereits in den letzten Jahren des 19. Jahrhunderts. Als traditionsreiche Bistums-, Garnisons- und Grenzstadt mit rund 50.000 Einwohner*innen bot Trier günstige Voraussetzungen für die frühe Etablierung des neuen Mediums Film <sup><a href="#quelle-1" class="text-black-600 hover:underline">1</a></sup>. Soziale und gesellschaftliche Anlässe prägten das Stadtbild und lieferten zugleich Motive für Filmaufnahmen. Frühe Filmvorführungen waren in Trier zunächst Teil eines breiten Spektrums populärer Attraktionen. Jahrmärkte, Vereinsfeste, Varietévorstellungen und technische Schaustellungen bildeten den Rahmen, in dem bewegte Bilder erstmals gezeigt wurden <sup><a href="#quelle-2" class="text-black-600 hover:underline">2</a></sup>. 
        <br>
    Das Kino entwickelte sich hier früh zu einem Bestandteil urbaner Öffentlichkeit und kollektiver Erfahrung. Auch in Trier stand zunächst das Staunen über Bewegung, Technik und Sichtbarkeit im Vordergrund. Der Film bot eine neue Möglichkeit der Selbstbeobachtung. Lokale Ereignisse konnten nicht nur erinnert, sondern erneut gesehen werden <sup><a href="#quelle-3" class="text-black-600 hover:underline">3</a></sup>. Diese enge Verbindung von Stadt, Publikum und Leinwand sollte die Trierer Kinogeschichte nachhaltig prägen <sup><a href="#quelle-3" class="text-black-600 hover:underline">3</a></sup>.
    </p>

    <br><br>

    <h2 id="wanderkinematographen" style="font-size: 32px;">Wanderkinematographen</h2>
    <p> Die Kinogeschichte Triers setzte mit den Wanderkinematographen ein. Diese mobilen Vorführungen fanden um 1900 vor allem in Gaststätten, Vereinssälen oder im Umfeld von Jahrmärkten statt <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup><sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Diese Form des Kinos war flexibel und passte sich leicht an lokale Gegebenheiten an<sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup><sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Das Kino war zunächst kein dauerhaft etablierter Ort, sondern ein zeitlich begrenztes Ereignis, eingebettet in bestehende Formen populärer Unterhaltung der Varietés <sup><a href="#quelle-18" class="text-black-600 hover:underline">11</a></sup><sup><a href="#quelle-11" class="text-black-600 hover:underline">18</a></sup>. Gerade diese flexible Struktur erleichterte jedoch die schnelle Verbreitung des Mediums.
        <br>
    Auch in Trier fanden frühe Filmvorführungen zunächst in solchen provisorischen Räumen statt <sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup>. Zeitgenössische Berichte deuten darauf hin, dass das Kino hier früh auf großes Publikumsinteresse stieß <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>. Die Trierische Zeitung berichtete 1909 ausführlich über Eindrücke aus einem „trierischen Kinematographen“ und beschrieb sowohl das staunende Publikum als auch die besondere Atmosphäre der Vorführungen <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>.
        <br>

    Der Kinobesuch war in dieser Frühzeit ein soziales Ereignis. Das Publikum reagierte lautstark, kommentierte das Geschehen auf der Leinwand und erkannte bekannte Orte oder Personen wieder <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>. Die Aufführung war kein stilles Konsumerlebnis, sondern durch das interagierende Publikum und ggf. die Rezitation von Filmen ein kommunikativer Akt, der sich deutlich von heutigen Kinopraktiken unterscheidet <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>.
    </p>

    <br><br>

    <h2 id="filmpioniere" style="font-size: 32px;">Trierer Filmpioniere: Familie Marzen</h2>
    <p> Die Familie Marzen spielte eine herausragende Rolle in der frühen Trierer Kinogeschichte und zählt zu den bedeutendsten Filmpionieren der Region. Besonders bemerkenswert ist die außergewöhnlich gute Überlieferung zahlreicher ihrer Lokalaufnahmen, die überwiegend in Trier entstanden sind. <br>
    Zur Familie gehörten der Vater Wendel (auch Wendelin) Marzen, die Mutter Apolonia (Pauline) Marzen, geborene Chevalier, sowie die Söhne <a href="/CineMap-Trier/kinobetreiber/marzen">Peter</a>, Hubert und August Marzen <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup> <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>. Nicht alle Mitglieder der Familie Marzen waren dauerhaft im Filmgeschäft tätig. Während <a href="/CineMap-Trier/kinobetreiber/marzen">Peter</a> und Hubert maßgeblich an der Entwicklung, technischen Umsetzung und Präsentation der Filmvorführungen beteiligt waren, trat der Bruder August – Modelleur - nicht als Akteur des wandernden oder ortsfesten Kinobetriebs in Erscheinung <sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. Die überlieferten Quellen lassen auf eine klare Arbeitsteilung innerhalb der Familie Marzen schließen. Während Wendelin Marzen als Initiator und organisatorischer Kopf des frühen Wanderkinos fungierte und Hubert Marzen vor allem technische Aufgaben übernahm, entwickelte sich <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> zunehmend zur zentralen öffentlichen Figur der Vorführungen und zum Filmrezitator <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. Apolonia war für die Kasse zuständig <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. <br>
    Den Einstieg in die Welt des Films verdankt die Familie dem Vater Wendel (Wendelin) Marzen, welcher - laut <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> - 1897 von einer Reise nach Paris einen „sehr primitiven Filmapparat“ <sup><a href="#quelle-5" class="text-black-600 hover:underline">5: Seite 5</a></sup> und zehn bis zwölf Filme mit einer Länge von 25-60 Metern mitbrachte <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup>. Daraufhin folgte die Uraufführung noch im selben Jahr in dem katholischen Vereinshaus Treviris in der Jakobsstraße in Trier <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup>. Die Familie betrieb ihren Wanderkinematographen unter dem Namen "Marzens-Edisons elektrisches Theater lebender, singender und sprechender Photographien" und reiste damit zu vielen verschiedenen Orten vor allem in Rheinland-Pfalz, im Saarland, den Benelux-Staaten und Frankreich, um dort ihre Filme aufzuführen <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup> <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup> <sup><a href="#quelle-19" class="text-black-600 hover:underline">19</a></sup>. <br>
    Auf ihren Reisen genossen sie durch ihre Beliebtheit ein hohes Ansehen und Privilegien. Unter anderem erließen ihnen einige Städte die Lustbarkeitssteuer, sie bekamen eine Unterkunft von Gaststättenbetreibern gestellt, die ihnen auch einen Raum für die Vorstellung ihrer Filme überließen <sup><a href="#quelle-19" class="text-black-600 hover:underline">19</a></sup>. Dadurch, dass Sie Räumlichkeiten wie zum Beispiel Gaststätten für ihre Vorstellungen nutzen konnten sie im Gegensatz zu anderen Wanderkinematographen mit relativ wenig Gepäck und technischem Aufwand reisen. <br>
    Viele der Filme sind verschwunden, einige der Lokalaufnahmen sind jedoch bis heute erhalten und werden zum Beispiel im Trierer Simeonstift-Museum zum Ansehen bereitgestellt <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup> <sup><a href="#quelle-17" class="text-black-600 hover:underline">17</a></sup>. <br>
    Der Erfolg des Wanderkinos beruhte nicht allein auf der Technik. Neben der technischen Präsentation spielte auch die persönliche Performance eine große Rolle. Besonders <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> trat als Rezitator und Vermittler zwischen Film und Publikum hervor. Durch mündliche Erläuterungen, Kommentare, oft im Trierer Dialekt und Geräuscheffekte strukturierte er die Wahrnehmung der Filme und trug wesentlich zum Unterhaltungserlebnis bei <sup><a href="#quelle-3" class="text-black-600 hover:underline">3</a></sup> <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. <br>
    Nach einem Familienstreit, dessen Gründe unbekannt sind, und immer größer werdenden familiären Spannungen, trennten sich die Wege der Familie <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> blieb in Trier und übernahm das <a href="/CineMap-Trier/kino/central">Central-Theater</a> , das er 1911 in <a href="/CineMap-Trier/kino/central">„Trierische Lichtspiele“</a> umbenannte <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>.  Seine Erfolgsgeschichte in Trier setzte damit einige Jahre lang steil fort. <br>
    Wendelin Marzen, Apolonia Marzen und Hubert Marzen hingegen verließen Trier nach Ausuferung des Familienstreits und ließen sich in Luxemburg nieder <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. Dort eröffneten sie am Schulberg Nr. 9 das Kino „Cinema Parisiana“, dessen Eröffnungsvorstellung am 12. November 1911 stattfand <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. Wendelin Marzen fungierte als Direktor, während Hubert Marzen die Aufgaben des Ingenieurs und technischen Leiters übernahm <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. Nach den Marzens wurde das Kino bis zur Betriebseinstellung im Mai 1924 von Mathias Martin, Lauth und Strobel weitergeführt <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. <br>
    Der Familienstreit wurde 1912 auch öffentlich ausgetragen <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. In der Luxemburger Zeitung erschien am 24. März eine Anzeige von <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a>, in der er sich als alleiniger Eigentümer des Trierischen Lichtspielhauses bezeichnete und die Angaben des „Cinema Parisiana“, Hubert und Wendelin seien Miteigentümer, als unwahr zurückwies <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. Nur drei Tage später folgte eine scharf formulierte Gegendarstellung von Wendelin und Apolonia Marzen sowie Hubert Marzen, in der <a href="/CineMap-Trier/kinobetreiber/marzen">Peters</a> Alleinanspruch bestritten und seine Angaben als „plumper Reklameschwindel“ <sup><a href="#quelle-8" class="text-black-600 hover:underline">8: Seite 37ff.</a></sup> bezeichnet wurden <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup>. <br>
    <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> entwickelte sich im Verlauf der frühen Kinogeschichte Triers zu einer der zentralen Figuren des lokalen Film- und Vorführbetriebs <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup> <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Durch seine Tätigkeit als Filmerklärer, Rezitator und Unternehmer prägte er die frühe Kinokultur der Stadt nachhaltig <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Seine Karriere setzte sich über mehrere Jahrzehnte fort und ist eng mit der Professionalisierung des Kinobetriebs in Trier verbunden <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup> <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup> <sup><a href="#quelle-19" class="text-black-600 hover:underline">19</a></sup>. <br>
    Eine ausführlichere Betrachtung von <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzens</a> beruflichem Werdegang, seinen Lichtspielhäusern sowie seiner Bedeutung für die regionale Filmgeschichte erfolgt in gesonderten Abschnitten. </p>

    <br><br>

    <h2 id="lokalaufnahmen" style="font-size: 32px;">Lokalaufnahmen</h2>
    <p> „Lokalaufnahmen wurden von Kinobetreibern selbst oder in deren Auftrag für ein lokales bzw. regionales Publikum gedreht und waren nicht für den überregionalen Vertrieb gedacht. Von den Aufnahmen wurde in der Regel nur eine Kopie für den Eigenbedarf gezogen, die im Wandergewerbe für eine Saison, im stationären Kinobetrieb meist eine, allenfalls zwei Wochen im Programm war und danach als wertlos betrachtet wurde. Bedingt durch ihren Entstehungs- und Auswertungskontext sind Lokalaufnahmen kaum erhalten geblieben. Ihre Spuren lassen sich in Form von Inseraten und Berichten fast ausschließlich in Lokalzeitungen finden, nicht jedoch in der Branchenpresse […] Von keiner anderen deutschen Stadt vergleichbarer Größe sind so viele Lokalaufnahmen erhalten, deren Auswertung im Wanderkino bzw. stationären Kino der Familie Marzen sich besonders gut rekonstruieren lässt.“ <sup><a href="#quelle-13" class="text-black-600 hover:underline">13: Seite 197</a></sup>. <br>
    Ein zentrales Merkmal der Marzenschen Filmproduktion waren besagte Lokalaufnahmen <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. Immer wieder zeigten sie Filme, die direkt in Trier entstanden waren und lokale Ereignisse, Straßenszenen, Alltagsszenen, Festlichkeiten, Umzüge, bekannte Plätze aus Trier oder Prozessionen dokumentierten <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup> <sup><a href="#quelle-15" class="text-black-600 hover:underline">15</a></sup>. Diese Praxis verstärkte den Reiz des Mediums, da Zuschauerinnen und Zuschauer sich selbst, Bekannte oder vertraute Orte auf der Leinwand entdecken konnten <sup><a href="#quelle-3" class="text-black-600 hover:underline">3</a></sup> <sup><a href="#quelle-14" class="text-black-600 hover:underline">14</a></sup>. <br>
    Auffällig bei den Filmen der Familie Marzen ist, dass <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> in zahlreichen Aufnahmen selbst im Bild erscheint, häufig die Kamera grüßt oder auffällige Anweisungen an umstehende Personen gibt <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup> <sup><a href="#quelle-15" class="text-black-600 hover:underline">15</a></sup>.  Trotz ihrer großen Bedeutung ist nur ein vergleichsweise kleiner Teil der Lokalaufnahmen der Familie Marzen bis heute erhalten <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Viele weitere Filme gelten jedoch als verschollen <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Dies hängt zum einen mit der materiellen Beschaffenheit des Filmmaterials zusammen, zum anderen mit der spezifischen Produktionsweise dieser Filme <sup><a href="#quelle-15" class="text-black-600 hover:underline">15</a></sup> <sup><a href="#quelle-16" class="text-black-600 hover:underline">16</a></sup>. Lokalaufnahmen waren nicht für eine langfristige Archivierung vorgesehen <sup><a href="#quelle-15" class="text-black-600 hover:underline">15</a></sup> <sup><a href="#quelle-16" class="text-black-600 hover:underline">16</a></sup>. 
 </p>

    <br><br>

    <h2 id="lokalaufnahmenMarzen" style="font-size: 32px;">Lokalaufnahmen der Familie Marzen</h2>
    <p> Circa 40 Lokalaufnahmen der Marzens sind zum heutigen Tage bekannt <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup>. Viele der hier genannten Lokalaufnahmen sind verschollen, lediglich die Titel sind bekannt <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-13" class="text-black-600 hover:underline">13</a></sup>. Einige Trierer Lokalfilme der Familie Marzen sind bis heute erhalten geblieben und befinden sich unter anderem in musealer Betreuung, etwa im Simeonstift-Museum <sup><a href="#quelle-17" class="text-black-600 hover:underline">17</a></sup>. Einige der Filme sind im Folgenden aufgelistet <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup>: <br> <br>
    <h3>1902</h3>
    <ol class="pl-8">
    <li>◦ Pfingstprozession in Trier – 18. Mai 1902</li>
    <li>◦ Echternacher Springprozession </li>
    <li>◦ Aufnahme von den die Kathedrale verlassenden Behörden, Luxemburg</li>
    </ol>
    <br>
    <h3>1903</h3>
    <ol class="pl-8">
    <li>◦ Autofahrt durch Trier</li>
     <li class="my-4 pl-4">
      <div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/PvUU_yQqhoY?si=9_WkiLYsC0cmZJ7V" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen> </iframe> </div> </li>
    <li>◦ La Première communion à Thionville</li>
    <li>◦ L’Empereur Guillaume à Metz</li>
     </ol>
     <br>
    <h3>1904</h3>
    <ol class="pl-8">
    <li>◦ Die Kappenfahrt 1904 der vereinigten Karnevalsgesellschaften Trier´s</li>
    <li>◦ Fronleichnamsprozession in Trier</li>
    </ol>
    <br>
    <h3>1906</h3>
    <ol class="pl-8">
    <li>◦ St. Willibrordusfeier Echternach 1906</li>
     <li class="my-4 pl-4">
      <div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/t6WkbSocJq4?si=IWZ1-yV-8K4ElCeA" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </div> </li>
    <li>◦ Rosenfest in Luxemburg</li>
         <li class="my-4 pl-4"> <div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/U2Q9QKxcG3w?si=-FurbNUiV4cM87u6" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </div></li>
    <li>◦ Kaisertage in Koblenz</li>
    </ol>
    <br>
    <h3>1907</h3>
    <ol class="pl-8">
    <li>◦ XVIII. Internationaler Eucharistischer Kongress zu Metz vom 6.–11. August 1907</li>
    <li>◦ Rosenfest in Luxemburg</li>
    <li>◦ Traben-Trabacher Rosenfest mit Blumencorso zu Rissbach</li>
    <li>◦ Ein Besuch in der weltberühmten Champagnerfabrik E. Mercier & Co. in Luxemburg und in deren eigenen Weidenpflanzungen und Korbflechterei zu Kopftal</li> 
     <li class="my-4 pl-4"><div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/weF1OXyLSw4?si=3rkM7J-RKR-KwCCj" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></li>
     </ol>
    <br>
    <h3>1909</h3>
    <ol class="pl-8">
    <li>◦ Domausgang am Ostersonntag</li>
     <li class="my-4 pl-4"><div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/x7nrw5KhP5w?si=Zq_Fyx5dznpvshkp" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div></li>
    <li>◦ Promenadenkonzert an der Porta Nigra</li>
    <li>◦ Die alte Römerstadt Trier und ihre Sehenswürdigkeiten</li>
    <li>◦ Frühjahrsspritzenprobe der Freiwilligen Feuerwehr am 3. Mai am Stadttheater</li>
    <li>◦ Leben und Treiben auf dem Viehmarkt am 5. Mai</li>
    <li>◦ Fronleichnamsprozession in Trier</li>
     <li class="my-4 pl-4"><div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/k6g5YWDCr-k?si=CWOp07qSZ6M066is" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </div> </li>
    <li>◦ Festlichkeiten aus Anlass des 35-jährigen Stiftungsfestes des Männergesangvereins „Eintracht“ am Pfingstsonntag</li>
    </ol>
    <br>
    <h3>1912</h3>
    <ol class="pl-8">
    <li>◦ Internationaler Marianischer Kongress zu Trier vom 3.–6. August 1912</li>
    </ol>
    <br>
    <h3>1913</h3>
    <ol class="pl-8">
    <li>◦ Bilder vom Kaisertag / Der Besuch unseres Kaisers in Trier am 14. Oktober 1913</li>
    </ol>
    <br>
    <h3>1914</h3>
    <ol class="pl-8">
    <li>◦ Blumenkorso 1914, veranstaltet vom Radfahrerverein Trier, Gegr. 1885</li>
         <li class="my-4 pl-4"><div class="aspect-video w-87.5 max-w-full">
    <iframe
      class="w-full h-full rounded-xl" src="https://www.youtube-nocookie.com/embed/bIiQg_eCA-I?si=rVRUmdDcTtO8JeRc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> </div> </li>
    </ol>
    <br>
    <h3>1927</h3>
    <ol class="pl-8">
    <li>◦ 675-jähriges Bestehen der Schifferbruderschaft Trier-St. Paulus</li>
    </ol>
    </p>

    <br><br>

    <h2 id="ortsfeste-kinos" style="font-size: 32px;">Vom Wanderkino zum ortsfesten Lichtspielhaus</h2>
    <p> Das erste ortsfeste Kino Triers, der <a href="/CineMap-Trier/kino/weltspiegel">Weltspiegel</a>, eröffnete bereits 1907 <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup>. Im selben Jahr konnten Trierer Kinobesucher*innen bereits zwischen fünf verschiedenen mobilen und festen Kinematographen auswählen <sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup>. Parallel dazu entstanden weitere ortsfeste Kinos in der Stadt. Diese konkurrierten um Publikum, Programme und technische Ausstattung. Unterschiede bestanden unter anderem in der Programmauswahl, der musikalischen Begleitung und der Form der Live-Kommentierung <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup>. <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> profilierte sich insbesondere durch persönliche Rezitationen während der Vorführungen <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup>. <br>
    Mit dem wachsenden Erfolg des Kinos veränderten sich auch die Strukturen des Filmgeschäfts. Während das Wanderkino zunächst dominierte, setzte sich ab den 1900er Jahren zunehmend das ortsfeste Kino durch <sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup> <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup>. Wie bereits erwähnt, war das erste in Trier etablierte ortsfeste Kino der <a href="/CineMap-Trier/kino/weltspiegel">Weltspiegel</a>, welches 1907 seine Türen öffnete, diese jedoch schon 1908 wieder schließen musste <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup>. Auch die Familie Marzen reagierte auf diese Entwicklung <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup> <sup><a href="#quelle-11" class="text-black-600 hover:underline">11</a></sup>. In Trier etablierte sich <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> als zentrale Figur dieses Übergangs <sup><a href="#quelle-6" class="text-black-600 hover:underline">6</a></sup> <sup><a href="#quelle-7" class="text-black-600 hover:underline">7</a></sup> <sup><a href="#quelle-9" class="text-black-600 hover:underline">9</a></sup>. <br>
    Nach einem innerfamiliären Konflikt, dessen genaue Ursachen nicht vollständig rekonstruierbar sind, trennten sich die Wege der Familienmitglieder Marzen <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. <a href="/CineMap-Trier/kinobetreiber/marzen">Peter Marzen</a> blieb in Trier und übernahm das dortige <a href="/CineMap-Trier/kino/central">Central-Theater</a>, das er ab 1911 unter dem Namen „Trierisches Lichtspielhaus“ führte <sup><a href="#quelle-8" class="text-black-600 hover:underline">8</a></sup> <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup> <sup><a href="#quelle-12" class="text-black-600 hover:underline">12</a></sup>. Von hier aus entwickelte sich seine unternehmerische Tätigkeit in der Stadt zunächst sehr erfolgreich. 1916 erlangte er mit den „Vereinigten Trierer Lichtspielen“, dem Zusammenschluss von <a href="/CineMap-Trier/kino/reichshallen">Reichshallen-Lichtspielen</a> und <a href="/CineMap-Trier/kino/germania-modern">Germania-Lichtspielen</a> das Kinomonopol in Trier <sup><a href="#quelle-2" class="text-black-600 hover:underline">2</a></sup> <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup> <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup>. Dieses Monopol hatte er bis 1919 nach Ende des 2. Weltkriegs inne <sup><a href="#quelle-10" class="text-black-600 hover:underline">10</a></sup>.
    </p>

    <br><br>

    <h2 id="erster-weltkrieg" style="font-size: 32px;">Das Kino während des Ersten Weltkriegs</h2>
    <p> Während des Ersten Weltkriegs veränderte sich die Funktion des Kinos grundlegend. Als Garnisonsstadt spielte Trier eine wichtige Rolle, und das Kino wurde verstärkt für propagandistische Zwecke genutzt <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. Patriotische Filme, Kriegsberichte und Durchhalteparolen prägten das Programm, zugleich blieb das Kino ein Ort der Ablenkung für Soldaten und Zivilbevölkerung <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. <br>
    Der Ausbruch des Ersten Weltkriegs im Jahr 1914 stellte auch für das Kino in Trier eine tiefgreifende Zäsur dar. Zu Beginn mussten die Lichtspielhäuser auf behördliche Anordnung hin schließen und waren dies über einen Monat, schätzungsweise sechs Wochen hinweg <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup> <sup><a href="#quelle-5" class="text-black-600 hover:underline">5</a></sup>. Als Garnisonsstadt war Trier in besonderem Maße vom Militär geprägt, was sich unmittelbar auf das Kinoprogramm und die Funktion der Lichtspielhäuser auswirkte. Das Kino entwickelte sich in dieser Phase zu einem wichtigen Ort der Zerstreuung, aber auch der politischen und patriotischen Mobilisierung, gerade auch für Kinder und Jugendliche <sup><a href="#quelle-a" class="text-black-600 hover:underline">a</a></sup> <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. <br>
    Während des Krieges blieb der Kinobetrieb in Trier grundsätzlich aufrechterhalten. Die Programme wurden jedoch zunehmend von kriegsbezogenen Inhalten dominiert <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. Wochenschauen, militärische Aufmärsche, Frontberichte und propagandistische Filme fanden verstärkt Eingang in das Repertoire <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. Zugleich dienten die Vorführungen der moralischen Stabilisierung der Bevölkerung und der Soldaten, die sich zeitweise in der Stadt aufhielten <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. <br>
    Gleichzeitig blieb das Bedürfnis nach Unterhaltung bestehen. Neben patriotischen Filmen wurden weiterhin Lustspiele, kurze Spielszenen und Aktualitäten gezeigt. „Die anfängliche Kriegsbegeisterung und der Glaube an einen schnellen Siegfrieden war der Realität gewichen, die Menschen wollten keine langweiligen Etappenbilder mehr sehen, sondern suchten im Kino Aufheiterung und Ablenkung. Über Weihnachten dominierten jedoch wieder patriotische Filme, in denen soziale Unterschiede und persönliche Gegensätze angesichts des gemeinsamen Kampfes ums Vaterland nichtig wurden.“ <sup><a href="#quelle-4" class="text-black-600 hover:underline">4: Seite 107</a></sup>.
 </p>

    <br><br>

    <h2 id="bis-heute" style="font-size: 32px;">Das Trierer Kino bis in die Gegenwart</h2>
    <p> Bis heute ist das Kino ein fester Bestandteil der Trierer Kulturlandschaft. Die Geschichte des Kinos in Trier ist damit nicht abgeschlossen, sondern setzt sich kontinuierlich fort. <br>
    Gleichzeitig ist das historische Erbe der frühen Kinopioniere präsent geblieben. Ausstellungen und Publikationen erinnern an die Anfänge des Films in Trier und an die Rolle der Familie Marzen, deren Wirken in Trier und Umgebung maßgeblich für die Entwicklung des Kinos in Trier war.
 </p>

    <br> <br> <br> 

    <!-- ... Accordion Fußnote ... -->

    <div class="w-full space-y-4 max-w-6xl">
    <details class="group border border-gray-300 rounded-md p-3">
      <summary class="flex justify-between items-center cursor-pointer list-none">
        <h3 class="team">Fußnoten</h3>
        <span class="transition-transform duration-300 group-open:rotate-45">+</span>
      </summary>
      <p id="quelle-a"> a:</p>
      <p> Die patriotischen Filme waren für Kinder und Jugendliche freigegeben <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. Seit dem 1. Januar 1914 war der Kinobesuch für Kinder und Jugendliche ohne Begleitung untersagt <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. Nach einer Verschärfung dieser Regelung 1915 durften von Kinder und Jugendliche nur noch Filme mit nationaler, patriotischer und militärischer Thematik besucht werden <sup><a href="#quelle-4" class="text-black-600 hover:underline">4</a></sup>. „[S]chon am 9. Februar 1911 unter dem Betreff »Bekämpfung der Schundliteratur« [wurde] folgende[r] Beschluß gefaßt: In die Schulordnung ist aufzunehmen: Schulkindern ist der Besuch der Kinematographentheater ohne Begleitung der Eltern verboten. Im Falle, dass Schulkinder, deren Eltern von der Stadt unterstützt werden, dort getroffen werden, ist den Schülern die Unterstützung durch Lehrmittel und dergleichen zu entziehen“ <sup><a href="#quelle-1" class="text-black-600 hover:underline">1: Seite 54</a></sup>. Vor allem Filme, die als sensationsorientiert, sittlich bedenklich oder als sogenannte „Schundfilme“ eingestuft wurden, gerieten in den Fokus kommunaler und kirchlicher Kritik <sup><a href="#quelle-1" class="text-black-600 hover:underline">1</a></sup>. Im Jahr 1911 beschränkten sich die Eingriffsmöglichkeiten in Trier zunächst auf Regelungen der Schulordnung, doch erwiesen sich diese als wirkungslos, sodass Schulinspektor Musmacher in wiederholten Eingaben an die Bezirksregierung polizeiliche Maßnahmen gegen den Kinobesuch von Kindern und Jugendlichen forderte, was schließlich in der Polizeiverordnung vom 30. Oktober 1913 mündete, die zum 1. Januar 1914 in Kraft trat <sup><a href="#quelle-1" class="text-black-600 hover:underline">1</a></sup>. </p>
    </details>


    <!-- ... Accordion Literaturverzeichnis ... -->

    <div class="w-full space-y-4 max-w-6xl">
    <details class="group border border-gray-300 rounded-md p-3">
      <summary class="flex justify-between items-center cursor-pointer list-none">
        <h3 class="team">Literaturverzeichnis</h3>
        <span class="transition-transform duration-300 group-open:rotate-45">+</span>
      </summary>
      <p class="pl-6 -indent-6" id="quelle-1">
        [1]: Duckwitz, A., Loiperdinger, M., & Theisen, S. (2000). Kampf dem Schundfilm! Kinoreform und Jugendschutz in Trier. In F. Kessler, S. Lenk & M. Loiperdinger (Eds.), Lokale Kinogeschichten (KINtop. Jahrbuch zur Erforschung des frühen Films, Bd. 9, pp. 52–63). Stroemfeld/Roter Stern. <a href="https://doi.org/10.25969/mediarep/15941" rel="noopener noreferrer">https://doi.org/10.25969/mediarep/15941</a>. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-2">
        [2]: F Conen, S. (2002). Trier im frühen Kino: Eine filmische Zeitreise. Trier: Trier Medienwissenschaft, Universität Trier. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-3">[3]: Loiperdinger, M. (2008). Akzente des Lokalen im frühen Kino am Beispiel Trier. In C. Müller & H. Segeberg (Eds.), Kinoöffentlichkeit (1895–1920): Entstehung, Etablierung, Differenzierung / Cinema’s public sphere – emergence, settlement, differentiation (1895–1929) (pp. 236–246). Schüren. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-4">[4]: Braun, B. (2002). Patriotisches Kino im Krieg: Beobachtungen in der Garnisonsstadt Trier. In F. Kessler, S. Lenk & M. Loiperdinger (Eds.), Kinematographen-Programme (KINtop, Jahrbuch zur Erforschung des frühen Films,  Bd. 11, pp. 100–121). Stroemfeld/Roter Stern. <a href="https://doi.org/10.25969/mediarep/15981" rel="noopener noreferrer">https://doi.org/10.25969/mediarep/15981</a>. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-5">[5]: Marzen, P. (1933). Aus dem Leben eines rheinischen Filmpioniers: Eine Erinnerungsgabe zum fünfzigsten Geburtstag Peter Marzens und seiner 35-jährigen Zugehörigkeit zur Filmindustrie. Privatdruck [Biografische Festschrift]. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-6">[6]: Braun, B., & Eifler, K. (2002). Kommt all heirönn zum Marzens Pitt: Kinoerlebnisse mit dem Filmerklärer Peter Marzen. Neues Trierisches Jahrbuch, 42, 173–186. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-7">[7]: Braun, B. (2002). Wir Trierer lieben den „Kintop“ über alles: Die Kinostadt Trier vor dem Ersten Weltkrieg. Kurtrierisches Jahrbuch, 42, 239–273. </p><br>
        <p class="pl-6 -indent-6" id="quelle-8">[8]: Etringer, N. (1983). Lebende Bilder: Aus Luxemburgs guter alter Kinozeit. Imprimerie Saint-Paul S.A. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-9">[9]: Herzig, M., & Loiperdinger, M. (2000). „Vom Guten das Beste“ – Kinematographenkonkurrenz in Trier. In F. Kessler, S. Lenk & M. Loiperdinger (Hrsg.), Lokale Kinogeschichten (KINtop. Jahrbuch zur Erforschung des frühen Films, Bd. 9, S. 38–51). Stroemfeld/Roter Stern. <a href="https://doi.org/10.25969/mediarep/15940" rel="noopener noreferrer">https://doi.org/10.25969/mediarep/15940</a>. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-10">[10]: Kremer, C. (2009, 27. März). Peter Marzen: Eine Trierer Kinolegende. Trierischer Volksfreund. <a href="https://www.volksfreund.de/region/trier-trierer-land/peter-marzen-eine-trierer-kinolegende_aid-5685757" rel="noopener noreferrer">https://www.volksfreund.de/region/trier-trierer-land/peter-marzen-eine-trierer-kinolegende_aid-5685757</a>. </p><br>
        <p class="pl-6 -indent-6" id="quelle-11">[11]: Braun, B., & Jung, U. (2005). Local Films from Trier, Luxembourg and Metz: A Successful Business Venture of the Marzen Family, Cinema Owners. Film History, 17(1), 19–28. <a href="http://www.jstor.org/stable/3815466" rel="noopener noreferrer">http://www.jstor.org/stable/3815466</a>.</p> <br>
        <p class="pl-6 -indent-6" id="quelle-12">[12]: Hoppe, K., Loiperdinger, M., & Wollscheid, J. (2000). Trierer Lokalaufnahmen der Filmpioniere Marzen. In F. Kessler, S. Lenk & M. Loiperdinger (Eds.), Lokale Kinogeschichten (KINtop. Jahrbuch zur Erforschung des frühen Films, Bd. 9, S. 14–37). Stroemfeld/Roter Stern. <a href="https://doi.org/10.25969/mediarep/15939" rel="noopener noreferrer">https://doi.org/10.25969/mediarep/15939</a>.</p> <br>
        <p class="pl-6 -indent-6" id="quelle-13">[13]: Braun, B. (2005). Lokalaufnahmen der Familie Marzen in Trier. In U. Jung & M. Loiperdinger (Eds.), Geschichte des dokumentarischen Films in Deutschland (Bd. 1: Kaiserreich 1895–1918, pp. 197–203). Philipp Reclam jun. <a href="https://mediarep.org/server/api/core/bitstreams/ab44eb55-e53c-4eb6-9248-02ed6a799a8d/content#page=198" rel="noopener noreferrer">https://mediarep.org/server/api/core/bitstreams/ab44eb55-e53c-4eb6-9248-02ed6a799a8d/content#page=198</a>. </p> <br>
        <p class="pl-6 -indent-6" id="quelle-14">[14] : Redaktion Trierische Zeitung. (2000). In einem »trierischen« Kinematographen (1909). In F. Kessler, S. Lenk & M. Loiperdinger (Eds..), Lokale Kinogeschichten (KINtop. Jahrbuch zur Erforschung des frühen Films, Bd. 9, S. 10–13). Stroemfeld/Roter Stern. <a href="https://doi.org/10.25969/mediarep/15938" rel="noopener noreferrer">https://doi.org/10.25969/mediarep/15938</a>.</p> <br>
        <p class="pl-6 -indent-6" id="quelle-15">[15]: Jung, U. (2005). Städtebilder und Lokalaufnahmen. In U. Jung & M. Loiperdinger (Eds.), Geschichte des dokumentarischen Films in Deutschland (Bd. 1: Kaiserreich 1895–1918, pp. 275–298). Philipp Reclam jun. </p><br>
        <p class="pl-6 -indent-6" id="quelle-16">[16]: Jung, U., & Loiperdinger, M. (2005). Überlieferung nicht-fiktionaler Filme aus der Frühzeit. In U. Jung & M. Loiperdinger (Eds.), Geschichte des dokumentarischen Films in Deutschland (Bd. 1: Kaiserreich 1895–1918, pp. 21–25). Philipp Reclam jun.</p><br>
        <p class="pl-6 -indent-6" id="quelle-17">[17]: Redaktion Trierische Zeitung. (2012, 3. Juli). Trier in alten Filmen (Teil 4): Der Regisseur und „milljunen“ Statisten. Trierischer Volksfreund. <a href="https://www.volksfreund.de/region/trier-trierer-land/trier-in-alten-filmen-teil-4-der-regisseur-und-milljunen-statisten_aid-4958229" rel="noopener noreferrer">https://www.volksfreund.de/region/trier-trierer-land/trier-in-alten-filmen-teil-4-der-regisseur-und-milljunen-statisten_aid-4958229</a>. </p><br>
        <p class="pl-6 -indent-6" id="quelle-18">[18]: Brandt, H.-J. (1994). Die Anfänge des Kinos. In W. Faulstich (Eds.), Fischer-Filmgeschichte: 100 Jahre Film, 1895–1995 (Bd. 1, pp. 86–97). Fischer-Taschenbuch-Verlag.</p> <br>
        <p class="pl-6 -indent-6" id="quelle-19">[19]: Zglinicki, F. P. von. (1979). Der Weg des Films. Hildesheim u.a. Olms. </p><br>
        <br>
        <br>
        <h3>Weiterführende, hier nicht zitierte Literatur:</h3> <br>
        <p>[20]: Trierischer Volksfreund. (2012, 7. Februar). Ein Stück Geschichte auf 35 Millimetern. <a href="https://www.volksfreund.de/region/trier-trierer-land/ein-stueck-geschichte-auf-35-millimetern_aid-6385983" rel="noopener noreferrer">https://www.volksfreund.de/region/trier-trierer-land/ein-stueck-geschichte-auf-35-millimetern_aid-6385983</a>.<br> <br>
        [21]: Toulmin, V., & Loiperdinger, M. (2005). Is it you? Recognition, representation and response in relation to the local film. Film History, 17(1), 7–18. <a href="https://www.jstor.org/stable/3815465" rel="noopener noreferrer">https://www.jstor.org/stable/3815465</a>. <br> <br>
        [22]: Peter Marzen. (1936, 3. Juli). Luxemburger Wort, 89(185), 8. <a href="https://persist.lu/ark:70795/k60cf2g0g/pages/8/articles/DTL418" rel="noopener noreferrer">https://persist.lu/ark:70795/k60cf2g0g/pages/8/articles/DTL418</a>. <br> <br>
        [23]: Der Kinematograph. (1907, November). Neueintragungen von Firmen. Der Kinematograph, No. 46. Düsseldorf: E. Lintz. <a href="https://mediahistoryproject.org/reader.php?id=kinematograph01-1907-11" rel="noopener noreferrer">https://mediahistoryproject.org/reader.php?id=kinematograph01-1907-11</a>. <br> <br>
        [24]: Braun, B. (2008). Marzen’s travelling town hall cinematograph in the greater region of Luxemburg. In M. Loiperdinger (Ed.), Travelling cinema in Europe: Sources and perspectives (KINtop Schriften, Bd. 10, pp. 119–126). Stroemfeld. <br> <br>
        [25]: Braun, B. (2001). Frühes Kino in Trier. Magister Thesis Universität Trier. <br> <br>
        [26]: Braun, B. (2005). Nicht-fiktionale Filme in den Nummernprogrammen von Trierer Kinematographentheatern. In U. Jung & M. Loiperdinger (Eds.), Geschichte des dokumentarischen Films in Deutschland (Bd. 1: Kaiserreich 1895–1918, pp. 213–220). Philipp Reclam jun. </p><br>
    </details>
    </div>    
</Layout>