---
import Layout from '../Layouts/layout.astro';
---

<Layout>
  <h1 class="mb-6">Interaktive Karte</h1>

  <div class="w-full">
  <iframe
    src="/karte/index.html"
    class="w-full h-[60vh] md:h-175 border-0 rounded-lg"
    title="Kinokarte Trier"
  ></iframe>
  </div>

</Layout>

