---
import Layout from '../Layouts/layout.astro';
---

<Layout>
	<h1 class="text-7xl md:text-4xl mb-6"> Über das Projekt </h1>
	<p> Im Wintersemester 2025/26 bearbeiten vier Studierende des Masterstudiengangs Digital Humanities das gemeinsame Projekt „CineMap Trier“, das die Geschichte des Kinos in Trier digital aufbereitet. Ziel ist es, die Entwicklung der Kinolandschaft in der Stadt über die Jahrzehnte hinweg sichtbar zu machen und dabei historische, kulturelle und soziale Zusammenhänge zu berücksichtigen. </p>
	<br>
	<h3> Projektidee und Relevanz </h3>
	<p> Die Geschichte von Kinos ist eng mit der städtischen Kultur, gesellschaftlichen Veränderungen und technologischen Entwicklungen verbunden. Viele historische Spielstätten existieren heute nicht mehr, andere sind in ihrer ursprünglichen Form kaum noch erkennbar. Das Projekt „CineMap Trier“ möchte diese Spuren sichtbar machen und die Dynamik der Stadtgeschichte aufzeigen, sodass Veränderungen, Verluste und Entwicklungen nachvollziehbar werden.</p>
	<br>
	<h3> Methodisches Vorgehen </h3>
	<p> Um die Kinogeschichte umfassend darzustellen, teilen wir die Arbeit in verschiedene Bereiche: </p>
	<br>
		<div class="pl-12.5 space-y-2">
		<h3 style="text-decoration: underline; font-size: 20px">Interaktive Karten:</h3> <p>Visualisierung der Standorte von ehemaligen und heutigen Kinos mit Hilfe digitaler Kartenwerkzeuge.</p>
		<h3 style="text-decoration: underline; font-size: 20px">Interaktive Zeitleiste:</h3> <p>Die Zeitleiste stellt die Entwicklung der Kinolandschaft in Trier über die Zeit dar. Sie zeigt, wann Kinos eröffnet, geschlossen oder verändert wurden, und macht so historische Veränderungen, Trends und Meilensteine anschaulich nachvollziehbar. Diese wurden mit Hilfe digitaler Zeitleistenwerkzeuge angefertigt.</p>
		<h3 style="text-decoration: underline; font-size: 20px">Historisches Bildmaterial:</h3> <p>Sammlung (und Digitalisierung) von Fotos und Gebäudedarstellungen, um die visuelle Entwicklung der Kinos zu dokumentieren.</p>
		<h3 style="text-decoration: underline; font-size: 20px">Webentwicklung:</h3> <p>Aufbereitung aller Ergebnisse auf einer interaktiven Webseite, inklusive Karte, Zeitleiste und erläuternden Texten. </p>
		</div>
</Layout>