---
import Layout from '../Layouts/layout.astro';
---

<Layout>
	<h1 class="text-7xl md:text-4xl mb-6"> Team </h1>
   
    <section>
    <div class="grid max-w-7xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <p class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-xl">Das Projekt „CineMapTrier: Eine digitale Geschichte des Kinos in der Stadt“ wurde im Rahmen des Masterstudiengangs Digital Humanities an der Universität Trier entwickelt. Unter der Betreuung von Dr. Joëlle Weis und Dr. Élodie Ripoll vereinen wir unterschiedliche geistes-, sprach-, und kulturwissenschaftliche Perspektiven, um die Entwicklung der Trierer Kinolandschaft über die Jahrzehnte hinweg zu beleuchten. </p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex lg:flex-col">
            <img src="/CineMap-Trier/images/Gruppenfoto.png" alt="Gruppenfoto">
            <p class="text-sm text-gray-500 mt-2">von links nach rechts:</p>
        </div>                
    </div>
</section>
<section>
  <div class="pt-0 pb-8 px-4 mx-auto max-w-7xl text-center lg:pt-0 lg:pb-16 lg:px-6"> 
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div>
              <h3 class="team">Qingbo Qiao</h3>
              <p class="italic">B.A. Germanistik</p>
              <p class="center">Recherche, Logo</p>
          </div>
          <div>
              <h3 class="team">Tingxi Deng</h3>
              <p class="italic">B.A. Chinesisch als Fremdsprache</p>
              <p class="center">Recherche, Zeitstrahl</p>
          </div>
          <div>
              <h3 class="team">Jaqueline Pauli</h3>
              <p class="italic">B.A. Japanologie und English Language and Linguistics</p>
              <p class="center">Recherche, Webseite, Öffentlichkeitsarbeit</p>
          </div>
          <div>
              <h3 class="team">Arina Singatulina</h3>
              <p class="italic">B.A. Theoretische und Experimentelle Linguistik</p>
              <p class="center">Recherche, Interaktive Karte</p>
          </div>
      </div>  
  </div>
</section>

<section>
  <div class="mx-auto px-4">
    <h2 class="text-2xl md:text-3xl mb-4">Danksagung</h2>
        <p >Dieses Projekt wäre ohne die Unterstützung vieler Menschen nicht möglich gewesen. Unser besonderer Dank gilt zunächst Univ.-Prof. Dr. Martin Loiperdinger, der mit wertvollen Informationen und Materialien zu diesem Projekt beigetragen hat und uns beim Zugang zu Videos sowie bei der Herstellung von Kontakten zu der Medienwissenschaft Trier entscheidend unterstützt hat. <br>
        Wir danken der Medienwissenschaft Trier für die Erlaubnis zur Veröffentlichung ihrer Filmproduktionen und zugehöriger Bildmaterialien. <br>
        Wir danken weiterhin Herrn Ralf Kotschka und Herrn Günther Schmitt für die bereitgestellten Fotos und Informationen sowie Frau Brigitte Braun für ihre Hilfe während der Recherche und die Herstellung des Kontakts zu Herrn Prof. Loiperdinger. <br>
        Ein großes Dank gebührt Herrn Thomas Hartz von der Videoabteilung der Universität Trier, der uns Videos und Fotos zur Verfügung gestellt hat und durch regelmäßige Updates mit neuem Bildmaterial immer wieder an unser Projekt gedacht hat. <br>
        Abschließend möchten wir allen weiteren Helfer*innen danken, die auch wenn sie hier nicht namentlich erwähnt werden, durch ihre Beiträge wesentlich zum Erfolg dieses Projekts beigetragen haben.</p>
  </div>
</section>
</Layout>

