---
import Layout from '../Layouts/layout.astro';
---

<Layout>
    <h1 class="mb-6"> Zeitleiste </h1>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=v2%3A2PACX-1vR9sy6RMQIwTuOwyX7rmRzFx_ORQXUDHA0FCNlzZA5ep8e0gbMvHbeuKJzG-1DkC8Y8YsWhiJdTlMkH&font=Default&lang=de&initial_zoom=3&width=100%25&height=650' class="w-full h-[65vh] md:h-162.5 border-0 rounded-lg"
    title="Zeitleiste"></iframe>
</Layout>
