---
import '../styles/global.css'

import Navigation from "./components/navigation.astro";
import Footer from "./components/footer.astro";

const { fullWidth = false } = Astro.props;

const base = import.meta.env.BASE_URL;
const withBase = (p: string) => (p.startsWith("/") ? base.replace(/\/$/, "") + p : p);
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={withBase("/images/dunkel.png")} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Open+Sans:wght@300..800&display=swap" rel="stylesheet"/>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>CineMap Trier</title>
	</head>
	<body class="min-h-screen flex flex-col">
        <Navigation />
		<main
  class={fullWidth
    ? "w-full px-4 md:px-0 py-8 grow"
    : "container mx-auto px-4 md:px-0 py-8 grow"}
>
  <slot />
</main>

		<Footer />
	</body>
</html>
